{% extends "base.html" %}

{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Admin
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="container has-text-centered has-background-dark">
        <h2 class="title is-4"> Importer un .csv de matchs(BO)</h2>
        <h3 class="subtitle is-5">
            <a href="/static/game_table_exemple.csv" download="game_table_exemple.csv">Télécharger ici un fichier
                exemple</a>
        </h3>
        <p>L'ajout d'un bo avec le même triplet gamedatetime/team1/team2 va ecraser la ligne et permet de mettre à jour
            le résultat d'un bo.</p>
        <form action="/admin_add_games" method="post" enctype="multipart/form-data">
            Chemin du .csv :
            <input type="file" name="gamesdata" accept=".csv" required>
            <input type="submit" value="Envoyer le fichier de matchs">
        </form>
        <h2 class="title is-4"> -------------------------- </h2>
        <h2 class="title is-4"> Importer un .csv de ligues</h2>
        <h3 class="subtitle is-5">
            <a href="/static/league_table_exemple.csv" download="league_table_exemple.csv">Télécharger ici un fichier
                exemple</a>
        </h3>
        <p>L'ajout d'une ligue avec un id déjà existant va écraser la ligne et permet de mettre à jour le nom d'une
            ligue.</p>
        <form action="/admin_add_leagues" method="post" enctype="multipart/form-data">
            Chemin du .csv :
            <input type="file" name="leaguesdata" accept=".csv" required>
            <input type="submit" value="Envoyer le fichier de leagues">
        </form>
        <h2 class="title is-4"> -------------------------- </h2>
        <h2 class="title is-4"> Visualiser les BOs et supprimer un match</h2>
        <a href="{{ url_for('auth.admin_show_games') }}">
            ➡️Voir les BOs
        </a>
    </div>
</div>


{% endblock %}