<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lol Prono</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}"/>
</head>
<body>
<section class="hero is-dark is-fullheight">
    <nav class="navbar is-link">
        <div class="container">
            <div class="navbar-start">
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                    Accueil
                </a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                    Profil
                </a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                    Connexion
                </a>
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                    Inscription
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.ligues') }}" class="navbar-item">
                    Ligues
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.pronos') }}" class="navbar-item">
                    Pronos
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.classements') }}" class="navbar-item">
                    Classements
                </a>
                {% endif %}
            </div>
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item has-background-danger">
                    Déconnexion
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</section>
</body>

</html>