{% extends "base.html" %}

{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Connexion
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% if messages[0].__contains__('réussie') %}
            <div class="notification is-primary">
                {{ messages[0] }}
            </div>
            {% else %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endif %}
            {% endwith %}
            <div class="box">
                <h1 class="title is-3 has-text-dark">Connectez-vous :</h1>
                <form method="POST" action="/login">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Mot de passe">
                        </div>
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox">
                            Rester connecté
                        </label>
                    </div>
                    <button class="button is-link is-dark is-large is-fullwidth">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}