{% extends "base.html" %}

{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Profil
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="notification is-dark">
                <h1 class="title has-text-white is-capitalized">
                    Bienvenu, {{ name }}!
                </h1>
                <h2 class="title is-4 has-text-white">
                    Ligue(s) suivie(s) :
                </h2>
            </div>

            {% if league_list==[] %}
            <div class="box has-background-dark has-text-white">
                <p>Aucune ligue suivie!</p>
                <a href="{{ url_for('auth.ligues') }}" class="button is-link">Ajouter une ligue.</a>
            </div>
            {% endif %}
            {% for item in league_list %}
            <div class="box has-background-dark has-text-white">
                <form method="POST" action="/profile_unsubscribe_league/{{item}}">
                    <div class="columns">
                        <div class="column">
                            {{ item }}
                        </div>
                        <div class="column">
                            <button class="button is-link is-focused">
                                Se désinscrire
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}