{% extends "base.html" %}

{% block content %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Resultats & pronostics
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="container has-text-centered">
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
                <button class="button has-background-link has-text-white" aria-haspopup="true"
                        aria-controls="dropdown-menu4">
                    <span>Selectionnez une ligue &#8964</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content has-background-dark">
                    <div class="dropdown-item">
                        {% for item in league_list %}
                        <form method="POST" action="/pronos_show_league/{{item}}">
                            <button class="button is-dark">{{ item }}</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <h1 class="title has-text-white is-capitalized"></h1>
        {% if leagueid==0 %}
        <div></div>
        {% else %}
        <div class="column is-4 is-offset-4">
            <div class="notification is-dark">
                <h1 class="title has-text-white">Matchs du {{leaguename}}</h1>
            </div>
        </div>
        <form method="POST" action="/pronos_update">
            <button class="button is-link is-dark is-medium">Valider mes pronostics</button>
                <h1 class="title has-text-white">                </h1>
            {% for item in records %}
            <div class="box has-background-dark has-text-white">
                <div class="columns">
                    <div class="column">{{item.game_datetime}} (BO{{item.bo}})</div>
                    <div class="column">{{item.team_1}}</div>
                    <div class="column">{{item.score_team_1}}</div>
                    <div class="column">{{item.score_team_2}}</div>
                    <div class="column">{{item.team_2}}</div>
                    <div class="column">Points</div>
                </div>
                <div class="columns has-background-grey-lighter has-text-dark">
                    <div class="column"></div>
                    <div class="column has-text-large">Mon pronostic : </div>
                    <div class="column">
                                <input class="input is-small" type="number" name="gameidt1;{{item.gameid}};{{item.game_datetime}};{{item.bo}}" placeholder="{{item.prono_team_1}}"
                                       min="0"  max="{{(item.bo//2)+1}}"  value="{{item.prono_team_1}}"
                                       autofocus="">
                    </div>
                    <div class="column">
                                <input class="input is-small" type="number" name="gameidt2;{{item.gameid}};{{item.game_datetime}};{{item.bo}}" placeholder="{{item.prono_team_2}}"
                        min="0" max="{{(item.bo//2)+1}}" value="{{item.prono_team_2}}"
                                       autofocus="">
                    </div>
                    <div class="column">
                    </div>
                    <div class="column">???</div>
                </div>
            </div>
            {% endfor %}
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
