{% extends "base.html" %}

{% block content %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Résultats & pronostics
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="container is-max-desktop has-text-centered">
        <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
            <ul>
                {% for item in league_list %}
                <li>
                    <form method="POST" action="/pronos_show_league/{{item}}">
                        {% if item == leaguename%}
                        <button class="button is-link"><b>{{ item }}</b></button>
                        {%else%}
                        <button class="button is-dark">{{ item }}</button>
                        {%endif%}
                    </form>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <h1 class="title has-text-white is-capitalized"></h1>
        {% if leagueid == 0 %}
        <div></div>
        {% else %}
        <div class="column is-4 is-offset-4">
            <div class="notification is-dark">
                <h1 class="title has-text-white">Matchs du {{ leaguename }}</h1>
            </div>
        </div>
        <h1 class="title has-text-white"></h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% if 'Erreur' in messages[0] %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% else %}
        <div class="notification is-primary">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endif %}
        {% endwith %}
        {% for item in records %}
        {% if not item.editable %}
        <div class="box has-background-grey-dark has-text-white is-multiline">
            <form method="POST" action="/pronos_resume/{{item.gameid}}">
                <div class="columns">
                    <div class="column is-size-5">{{ item.game_datetime }} (BO{{ item.bo }})</div>
                    {% if item.score_team_win == 'team_1' %}
                    <div class="column is-size-5">
                        <img src="/static/logos/{{ item.logo_team_1 }}" alt="{{ item.team_1 }}">
                    </div>
                    <div class="column is-size-5 has-text-weight-bold">{{ item.team_1 }} ✅</div>
                    {% else %}
                    <div class="column">
                        <img src="/static/logos/{{ item.logo_team_1 }}" alt="{{ item.team_1 }}"></div>
                    <div class="column is">{{ item.team_1 }}</div>
                    {% endif %}
                    <div class="column is-flex-direction-column">
                        <div class="is-size-5">Score final :</div>
                        <div class="mt-3 is-size-5">{{ item.score_team_1 }} - {{ item.score_team_2 }}</div>
                    </div>
                    {% if item.score_team_win == 'team_2' %}
                    <div class="column is-size-5 has-text-weight-bold">{{ item.team_2 }} ✅</div>
                    <div class="column is-size-5">
                        <img src="/static/logos/{{ item.logo_team_2 }}" alt="{{ item.team_2 }}">
                    </div>
                    {% else %}
                    <div class="column is-size-5">{{ item.team_2 }}</div>
                    <div class="column">
                        <img src="/static/logos/{{ item.logo_team_2 }}" alt="{{ item.team_2 }}"></div>
                    {% endif %}
                    <div class="column is-flex-direction-column">
                        <div class="is-size-5">Ton prono :</div>
                        <div class="mt-3 is-size-5">{{ item.prono_team_1 }} - {{ item.prono_team_2 }}</div>
                    </div>
                    <div class="column is-flex-direction-column">
                        {% if item.prono_correct %}
                        {% if item.score_exact %}
                        <div class="is-size-5 has-background-success has-text-white">Pts: {{
                            item.points }}
                        </div>
                        {% elif not item.score_exact %}
                        <div class="is-size-5 has-background-warning has-text-white">Pts: {{
                            item.points }}
                        </div>
                        {% endif %}
                        {% elif not item.prono_correct %}
                        <div class="is-size-5 has-background-danger has-text-white">Pts: {{
                            item.points }}
                        </div>
                        {% endif %}
                        <div class="mt-3">
                            <button class="button is-link is-dark is-medium">Voir les pronostics</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% elif item.editable %}
        <div class="box has-background-grey-lighter has-text-dark is-multiline">
            <form method="POST" action="/pronos_update/{{ leaguename }}">
                <div class="columns">
                    <div class="column is-size-5">{{ item.game_datetime }} (BO{{ item.bo }})</div>
                    <div class="column">
                        <img src="/static/logos/{{ item.logo_team_1 }}" alt="{{ item.team_1 }}"></div>
                    <div class="column is-size-5">{{ item.team_1 }}
                    </div>
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <input class="input is-medium" type="number"
                                       name="gameidt1;{{ item.gameid }};{{ item.game_datetime }};{{ item.bo }}"
                                       placeholder="{{ item.prono_team_1 }}"
                                       min="0" max="{{ (item.bo // 2) + 1 }}" value="{{ item.prono_team_1 }}"
                                       autofocus>
                            </div>
                            <div class="column">
                                <input class="input is-medium" type="number"
                                       name="gameidt2;{{ item.gameid }};{{ item.game_datetime }};{{ item.bo }}"
                                       placeholder="{{ item.prono_team_2 }}"
                                       min="0" max="{{ (item.bo // 2) + 1 }}" value="{{ item.prono_team_2 }}"
                                       autofocus>
                            </div>
                        </div>
                    </div>
                    <div class="column is-size-5">{{ item.team_2 }}</div>
                    <div class="column">
                        <img src="/static/logos/{{ item.logo_team_2 }}" alt="{{ item.team_2 }}"></div>
                    <div class="column is-size-5">Prono actuel : {{ item.prono_team_1 }} - {{ item.prono_team_2
                        }}
                    </div>
                    <div class="column">
                        <button class="button is-link is-dark is-medium">Valider mon pronostic</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %}