{% extends "base.html" %}

{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Résumé Pronos
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="column is-8 is-offset-2">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            {% for title in titles %}
            <th class="is-dark">
                {{title}}
            </th>
            {% endfor %}
            </thead>
            <div class="columns">
                <div class="column"></div>
                <div class="column"></div>
                <div class="column"></div>
                <form  method="POST" action="/pronos_show_league/{{score_final.leaguename}}">
                    <div class="column">
                        <button class="button is-link is-dark is-medium">Retour sur page pronos</button>
                    </div>
                    <div class="column"></div>
                    <div class="column"></div>
                    <div class="column"></div>
                </form>

            </div>
            <tfoot>
            {% for title in titles %}
            <th>
                {{title}}
            </th>
            {% endfor %}
            </tfoot>
            <tbody>
            {% for dict_item in recap_score %}
            <tr>
                {% for key, value in dict_item.items() %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}