{% extends "base.html" %}

{% block content %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="column is-4 is-offset-4 has-text-centered">
        <h1 class="title has-text-white is-capitalized">
            Inscription
        </h1>
    </div>
</nav>

<div class="hero-body header-image">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-warning">
                {{ messages[0] }}</a>.
            </div>
            {% endif %}
            {% endwith %}
            <div class="box">
                <h3 class="title is-3 has-text-dark">Rentrez le code de validation envoyé par email :</h3>
                <form method="POST" action="/signup_validation">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="code" placeholder="code" autofocus="">
                        </div>
                    </div>
                    <input type="hidden" name="email" value="{{ email }}" />
                    <input type="hidden" name="name" value="{{ name }}" />
                    <input type="hidden" name="password" value="{{ password }}" />
                    <button class="button is-link is-large is-fullwidth">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}